<!DOCTYPE html>
<html>
<head>
  <title>Shocking Blue - Fans Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/stylesheets/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/mio.css">

</head>
<body>


<%=image_tag("00011.jpg", alt: "Shocking Blue", :class => "header" )%>
<%=image_tag("00012.jpg", alt: "Shocking Blue", :class => "h" )%>

<%= yield %> 




        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">More Info</h5>
                <p class="grey-text text-lighten-4">You can find more information in the following fan club friends.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Gerardo R
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>



  <!-- Compiled and minified JavaScript -->
  <script src="/js/materialize.min.js"></script>
</body>
</html>
